DEVICE="br-ex"
BOOTPROT="none"
NM_CONTROLLED="no"
ONBOOT="yes"
DEVICETYPE="ovs"
TYPE="OVSBridge"
OVSBOOTPROTO="none"
OVSDHCPINTERFACES="bond0"
IPADDR="157.1.141.22"
NETMASK="255.255.254.0"
GATEWAY="157.1.140.1"
DNS1="157.1.24.201"
