DEVICE="br-ex"
BOOTPROT="none"
NM_CONTROLLED="no"
ONBOOT="yes"
DEVICETYPE="ovs"
TYPE="OVSBridge"
OVSBOOTPROTO="none"
OVSDHCPINTERFACES="eno2"
IPADDR="157.1.141.25"
NETMASK="255.255.254.0"
GATEWAY="157.1.140.1"
DNS1="157.1.24.201"
DNS2="136.187.17.3"
